<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>From a Monolithic Application through Microservices and into Cloud Native</title>
</head>
<body>
<th:block th:include="general.html :: header"></th:block>

<div class="container-fluid">
    <div class="row">

        <p>
            <span th:text="List of products"></span>
        </p>

        <div th:if="${ not#lists.isEmpty(products)}">
            <table>
                <tr>
                    <th>Vendor</th>
                    <th>Product Name</th>
                    <th>Description</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.vendor}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                </tr>
            </table>
        </div>

    </div>
</div>
<!-- /.container -->
</body>
</html>