<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>From a Monolithic Application through Microservices and into Cloud Native</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/core/css/main.css}"/>

    <!-- Boostrap core js -->
    <script type="text/javascript" th:src="@{bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/core/js/main.js}"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/products/">Products</a>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="fa fa-shopping-cart" style="color: white"></span></a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/users/">Users</a>
            </li>
        </ul>
    </nav>
</div>

<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>
</body>
</html>