<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en" >
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>From a Monolithic Application through Microservices and into Cloud Native</title>
</head>
<body>
<th:block th:include="general.html :: header"></th:block>

<div class="container-fluid">
    <div class="row">

        <div th:if="${products != null && !products.isEmpty()}" th:each="product : ${products}"
             class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto text-center" style="padding: 40px;">
                <div class="card-body" style="min-height: 400px">
                    <h2 class="card-title" style="color: black">
                        <span th:text="${product.name}"></span>
                    </h2>
                    <h3 class="card-title" style="color: black">
                        <span>$</span>
                        <span th:text="${product.price}"></span>
                    </h3>

                    <i th:if="${product.description.length() < 255}" th:text="${product.description}"></i>
                    <i th:if="${product.description.length() > 255}"
                       th:text="${product.description.substring(0,255)}"></i>
                    <i th:if="${product.description.length() > 255}">...</i>

                </div>
                <a href="#" th:href="@{/products/addProductToOrder/{id}(id=${product.id})}">
                    <button class="openbtn">Add to Cart</button>
                </a>

            </div>
        </div>

        <div sec:authorize="hasRole('ADMIN')" class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto text-center" style="padding: 40px">

                <div class="card-body" style="min-height: 400px">
                    <h2 class="card-title" style="color: black">
                        <span class="fa fa-plus-circle" style="font-size: 40px"></span>
                        <br/>
                        <br/>
                        <span class="fa fa-mobile-alt" style="font-size: 200px"></span>
                    </h2>
                </div>

                <button class="openbtn" onclick="openNav()">Add product</button>
            </div>
        </div>

    </div>
</div>
<!-- /.container -->

<div id="mySidebar" class="sidebar">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <form action="#" th:action="@{/products}" th:object="${product}" method="post">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description" class="col-form-label">Description</label>
                            <input type="text" th:field="*{description}" class="form-control" id="description"
                                   placeholder="Description">
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="price" class="col-form-label">Price</label>
                            <input type="number" th:field="*{price}" class="form-control" id="price"
                                   placeholder="Price">
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="categoryId" class="col-form-label">Category</label>
                            <select class="form-control" id="categoryId" th:field="*{categoryId}">
                                <option th:each="category : ${categories}" th:value="${category.getId()}"
                                        th:text="${category.getName()}"></option>
                            </select>


                            <span th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-content-center">
                        <div class="col-md-12 mt-5">
                            <input type="submit" class="btn openbtn" style="min-width: 320px" value="Add Product">
                        </div>
                    </div>
                </form>
                <div class="row align-content-center">
                    <div class="col-md-12 mt-5">
                        <button class="openbtn" style="min-width: 320px" onclick="closeNav()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>